version: '3.8'

services:
  app:
    build: .
    ports:
      - "7899:7899"
    environment:
      - PORT=7899
      - MONGODB_URI=mongodb://mongo:27017/myapp
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
